.table tr td img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}

td i {
  cursor: pointer;
  font-size: 1.5rem;
}

td {
  color: var(--primary-color);
}

.cart__icons-remove {
  color: rgb(214, 23, 23);
}
